* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
     
}

   img{
       width: 100vw;
       height: 100vh;
   }
.form{
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: transparent;
    color: black;
    border-radius: 18px;


}
.form h1{ 
    font-size: small;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
    border-bottom: 4px solid rgb(136, 69, 38);
    padding: 0 ;



}
.form p{
    font-size: 20px;
    margin: 5px 0;

}
.form input{
    font-size: 20px;
    width: 100%;
    padding: 10px 8px; 
    border: none;
    outline: none;
   
}
.form button{
    font-size: small;
    font-weight: bold;
    margin: 15px 0;
    padding: 12px 15px;
    width: 50%;
    border-radius: 5px;
    border: 4;
     
}